html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Monospace;
	font-size: 15px;
	text-decoration: none;
}

#container {
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

#left {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 55555;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background: #1a1a1a;
	width: 300px;
	left: 0;
	overflow: hidden;
}

#right {
	margin-left: 300px;
	position: relative;
	height: 100%;
}

#left_tree {
	position: absolute;
	top: 33px;
	left: 10px;
	right: 10px;
	bottom: 276px;
}

#left_bottom_menu {
	position: absolute;
	width: 100%;
	height: 40px;
	background: #2C2C2C;
	bottom: 0;
}

#left_bottom_menu:hover{
	background: #414141;
}

#left_drag {
	width: 12px;
	height: 100%;
	z-index: 99999;
	margin: 0;
	padding: 0;
	background: #474747;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .9);
	cursor: col-resize;
	position: absolute;
	right: 0;
}

#left_drag span {
	display: block;
	position: absolute;
	width: 10px;
	top: 50%;
	text-align: center;
	letter-spacing: -3px;
	color: #000;
}

#right_editor{
	width: 100%;
	height: 75%;
	background: #232c31;
	top: 60px;
	border-top: 3px solid #232c31;
}

#right_editor_inner {
	width: 100%;
	height: 89%;
	background: #232c31;
	top: 60px;
	border-top: 3px solid #232c31;	
}

#right_topbar {
	top: 0;
	padding-top: 30px;
	width: 100%;
	height: 35px;
	position: fixed;
	background: #31373B;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);
	overflow: hidden;
}

#right_topbar_sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#right_topbar_sortable .file_notSelected {
	padding: 0.8em;
	padding-left: 2em;
	height: 30px;
	font-size: 11px;
	border-radius: 13px;
	float: left;
	cursor: default;
	background: #38454c;
	border: 0px;
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .7);
}

#right_topbar_sortable .file_selected {
	padding: 0.8em;
	padding-left: 2em;
	height: 30px;
	font-size: 11px;
	border-radius: 13px;
	float: left;
	cursor: default;
	background: #232c31;
	border: 0px;
	box-shadow: inset 0px 2px 3px rgba(255, 255, 255, .2);
}

#right_topbar_sortable li:hover {
	background: #3e4c54;
}

#right_topbar_sortable .file_selected:hover {
	background: #283136;
}

#right_topbar_sortable li a {
	color: white;
	pointer-events: none;
}

#right_topbar_sortable .file_selected a {
	color: white;
	font-weight: bold;
}

#right_topbar_sortable li span {
	position: absolute;
	margin-left: -1.3em;
	background: url('/img/file_close.png');
	background-size: 13px 13px;
	width: 13px;
	height: 13px;
	opacity: 0.4;
}
#right_topbar_sortable li span:hover {
	opacity: 1;
}

#uploadSearch form{
	
	display:inline;
}
#uploadSearch {
	overflow: hidden;
	width: 55%;
	height: 150px;
	margin: auto;
	position: fixed;
	top: 130%;
	left: 70%;
	transform: translate(-50%, -50%);
	z-index: 99999;
}


/*Bottom Menu Css*/
#btm_menu ul {
	list-style: none;
	margin: auto;
	text-align: center;
}

#btm_menu ul li {
	display: inline;
}

#btm_menu ul li img {
	width: 90px;
	margin-top: 30px;
	margin-right: 60px;
	opacity: 0.5;
}

#btm_menu ul li img:hover {
	opacity: 1;
}

#btm_menu {
	overflow: hidden;
	width: 55%;
	height: 150px;
	background: rgba(59, 65, 72, 0.7);
	margin: auto;
	position: fixed;
	top: 130%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 40px;
	z-index: 99999;
}

#btm_menu div{
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* Dialog Box */

#invitation_list {
	list-style-type: none;
	margin: 0px;
}

.invitem {
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.invitem.selected {
	color: red;
}

.bottom_dialog {
	font-family: 'Montserrat', sans-serif !important;
	width: 100%;
	height: 100%;
	z-index: 999999;
}

.bottom_dialog input, label {
	display: block;
}

.bottom_dialog {
	background: rgba(35, 44, 49, 0.9) !important;
	border: 3px solid rgba(76, 76, 76, 0.6) !important;
}


.bottom_dialog .ui-dialog-titlebar {
	background: #47617A;
	border: 3px solid rgba(76, 76, 76, 0.9);
	color: white;
	font-size: 15px;
}

.bottom_dialog #dialog_select_project_proj {
	position: absolute;
	left: 0;
	margin-left: 50px;
	margin-top: 30px;
	width: 40%;
	height: 83%;
	background: rgba(193, 205, 217, 0.9);
	border-radius: 5px;
}

.bottom_dialog #dialog_select_project_info {
	position: absolute;
	right: 0;
	margin-right: 50px;
	margin-top: 30px;
	width: 40%;
	height: 83%;
	background: rgba(250, 250, 250, 0.9);
	border-radius: 5px;
}

.bottom_dialog .dialog_button {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	border-radius: 5px;
	border: none;
	outline: none;
	background: #4DB8B8;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

#dialog_select_project button{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	border-radius: 5px;
	border: none;
	outline: none;
	background: #4DB8B8;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

#dialog_select_project button:hover {
	background: #33ADAD;
}

#dialog_select_project button:active {
	background: #85CECE;
}

.bottom_dialog #dialog_select_project_proj {
	overflow-y: scroll;
	overflow-x: hidden;
}

.bottom_dialog #dialog_select_project_proj a {
	font-size: 15px;
	margin-left: 15px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.bottom_dialog #dialog_select_project_proj a:hover {
	background: #A6B8C9;
}

.bottom_dialog #dialog_select_project_info p {
	font-size: 15px;
	margin-left: 15px;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

.bottom_dialog input{
	width: 90%;
	height: 30px;
	margin: auto;
	margin-top: 10px;
	padding: 15px 10px 15px 10px;
	font-family: 'Montserrat', sans-serif !important;
	border-radius: 3px;
	border: 0px;
	opacity: 0.8;
}

.bottom_dialog .dialog_button{
	width: 90%;
	height: 60px;
	margin-bottom: 10px;
}

.bottom_dialog input[type=button]{
	width: 95%;
	height: 60px;
	margin-top: 12px;
	border: none;
	outline: none;
	background: #4DB8B8;
	padding: 15px 10px 15px 10px;
	font-family: 'Montserrat', sans-serif !important;
	border-radius: 3px;
}

.bottom_dialog input[type=button]:hover {
	background: #33ADAD;
}

.bottom_dialog input[type=button]:active {
	background: #85CECE;
}

/*Personal Info*/
#personal_info {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

#personal_info img {
	width: 100%;
}

#personal_info img:hover {
	opacity: 0.6;
}

#personal_info_menu {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 60px;
	margin-right: 20px;
	padding: 2px 2px 2px 2px;
	width: 150px;
	background: white;
	z-index: 99999;
	box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.8);
	border-radius: 5px;
	visibility: hidden;
}

#personal_info_menu div{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 15px 10px 15px 10px;
	color: #009688;
	cursor: pointer;
}

#personal_info_menu div:hover{
	background: #E6E6E6;
}







/*
	git Tree CSS
*/

#git_tree_outer_container {
	position: absolute;
	bottom: 80px;	
	width: 200px;
	height: 220px;
	right: calc(50% - 90px);
	background: #151515;;
	border-radius: 5px;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: inset 0px 0px 5px rgba(50, 50, 50, .4);
	opacity: 0.6;
}

#git_tree_container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-right: 15px;
	padding-left: 5px;
}

.git_tree_node {
	width: 20px;
	height: 20px;
	margin: auto;
	border-radius: 25px;
}

.git_tree_edge {
	width: 5px;
	height: 20px;
	background: #546e7a;
	margin: auto;
	pointer-events: none;
}

.node_normal {
	border: 4px solid #90a4ae;
	background: #cfd8dc;
}

.node_empty {
	border: 4px dotted #90a4ae;
}

.node_user {
	border: 4px solid #ef9a9a;
	background: #e53935;
}

.node_origin {
	border: 4px solid #80cbc4;
	background: #00897b;
}

.node_origin_user {
	border: 4px solid #80cbc4;
	background: #e53935;
}

#git_tree_window {
	position: absolute;
	z-index: 9999999;
	width: 300px;
	height: 110px;
	background: #FFE3BA;
	border-radius: 10px;
	border: 3px solid #E6CCA7;
	box-shadow: 3px 3px 3px #1a1a1a;
	visibility: hidden;
}

#git_tree_window p {
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 8px;
}



/*
	git buttons...	
*/

.git_btn_container {
	position: absolute;
	width: 70px;
	height: 70px;
	right: 50px;
	bottom: 50px;
	z-index: 99999;
}

.git_commit, .git_pull, .git_push {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 50px;
	bottom: 50px;
	z-index: 99999;
	opacity: 0;
	background: #43a047;
	border-radius: 100%;
	text-align: center;
}

.git_commit:hover, .git_pull:hover, .git_push:hover {
	background: #2e7d32;
}

.git_button {
	display: block;
	background: #1A1A1A;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

.git_button img {
	width: 50%;
	height: 50%;
	vertical-align: -38px;
}

.git_button:hover {
	background: #101010;
}

.git_btn_container_open_commit {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 130px;
	bottom: 50px;
	z-index: 99999;
	opacity: 1;
}

.git_btn_container_open_push {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 120px;
	bottom: 120px;
	z-index: 99999;
	opacity: 1;
}

.git_btn_container_open_pull {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 50px;
	bottom: 130px;
	z-index: 99999;
	opacity: 1;
}

/** ****************************** 2.26 ************************* **/

#mini_popup {
	position: absolute;
	right: calc(50% - 130px);
	bottom: 50px;
	width: 300px;
	height: 35px;
	background: -webkit-linear-gradient(#292E32, #212528); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#292E32, #212528); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#292E32, #212528); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#292E32, #212528); /* Standard syntax */
	border: 2px solid #1C2327;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #141719;
	display: none;
	z-index: 99999999;
}

#mini_popup span img {
	width: 25px;
	margin-top: 5px;
}

#mini_popup_text {
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	vertical-align: 6px;
	cursor: none;
}

#right_drag{
	position: absolute;
	width: 100%;
	height: 12px;
	z-index: 99;
	margin: 0;
	padding: 0;
	background: #474747;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .8);
	cursor: row-resize;
	bottom: 25%;
}

#right_log{
	position: absolute;
	width: 100%;
	height: 25%;
	background: #313131;
	bottom: 0;
}

#right_log_inner{
	position: absolute;
	width: 100%;
	height: 80%;
	margin-top: 40px;
	background: #181F22;
	box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, .8);
	color: white;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 15px;
}